.eqh {
	display: flex;
	flex-direction: column;
	.eqh-content {
		flex-grow: 1;
		position: relative;
	}
}

.col-content {
	.triangle {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		border: 20px solid transparent;	
		&.triangle-left {
			right: 0;
			border-right-color: #fff;
		}
		&.triangle-right {
			left: 0;
			border-left-color: #fff;
		}
	}
}