@keyframes customFadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 30%, 0); 
	}
	to {
		opacity: 1;
		transform: none; 
	} 
}

@keyframes ticker {
	0% {
		width: 0;
		left: 0;
	}
	50% {
		width: 50%;
		left: 25%;
	}
	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes rotate {
	0%    { transform: rotate(0deg); }
	100%  { transform: rotate(360deg); }
}

